
@font-face {
  font-family: PlayfairDisplay-SemiBold;
  src: url(PlayfairDisplay-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(PlayfairDisplay-Bold.ttf);
}